
.title {

    font-family: 'Fascinate Inline', cursive;
    font-size: 40px;
    text-align: center;

}

body {

    background-color: mintcream;

}

.instructions {
    font-size: 15px;
    font-family: 'Muli', sans-serif;
    text-align: center;
    border-style: dotted;
    margin-bottom: 30px;
    
}

/* fruit images */

#apple {

    width: 170px;
    padding: 20px 10px;

}

#orange {
    
    width: 170px;
    padding: 20px;
}

#grape {

    width: 170px;
    padding: 20px;
}

#pear {

    width: 170px;
    padding: 20px;
}